@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "BlauerNue", sans-serif;
  box-sizing: border-box;
}

.title {
  font-family: "Archivo Variable", sans-serif;
}

.price {
  font-family: "Inter Variable", sans-serif;
}

.hoverable:hover {
  cursor: none;
}

.blackMuted70 {
  color: #404040;
}
