/* From Uiverse.io by satyamchaudharydev */ 
.button1 {
  --primary-color: #000;
  --secondary-color: #fff;
  --hover-color: #000000;
  --arrow-width: 12px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 30px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.button1 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button1 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button1:hover {
  background-color: var(--hover-color);
}

.button1:hover .arrow {
  background: var(--secondary-color);
}

.button1:hover .arrow:before {
  right: 0;
}

.button2{
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --hover-color: #ffffff;
  --arrow-width: 12px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 30px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.button2 .arrow-wrapper-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 .arrow-two {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
  transform: rotate(180deg);
}

.button2 .arrow-two::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button2:hover {
  background-color: var(--hover-color);
}

.button2:hover .arrow-two {
  background: var(--secondary-color);
}

.button2:hover .arrow-two:before {
  right: 0;
}


.button3{
    --secondary-color: #000000;
    --arrow-width: 12px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0px ;
    color: var(--secondary-color);
    display: flex;
    transition: 0.2s background;
    align-items: end;
    gap: 0.6em;
    font-weight: bold;
  }
  
  
  .button3 .arrow-wrapper-three {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button3 .arrow-three {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
    transform: rotate(180deg);
  }
  
  .button3 .arrow-three::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .button3:hover {
    background-color: var(--hover-color);
  }
  
  .button3:hover .arrow-three {
    background: var(--secondary-color);
  }
  
  .button3:hover .arrow-three:before {
    right: 0;
  }
  
  

.button4{
    --secondary-color: #000000;
    --arrow-width: 12px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0px ;
    color: var(--secondary-color);
    display: flex;
    transition: 0.2s background;
    align-items: end;
    gap: 0.6em;
    font-weight: bold;
  }
  
  
  .button4 .arrow-wrapper-four {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button4 .arrow-four {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .button4 .arrow-four::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .button4:hover {
    background-color: var(--hover-color);
  }
  
  .button4:hover .arrow-four {
    background: var(--secondary-color);
  }
  
  .button4:hover .arrow-four:before {
    right: 0;
  }
  
  